.layer2{
    padding: 10px;
    background-color: rgba(254, 238, 250);
}
.offered{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid rgba(239, 203, 233);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}