.text2{
    margin-top: 40px;
    margin-left: 5vw;
    font-size: 30px;
}
#options1 ul{
    box-sizing: border-box;
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    margin: 0.3vw 5vw;
    padding: 1vw 0vw 0vw 0vw;
}
#options1 ul li{
    /* font-family: 'Nunito'; */
    display: inline-block;
    margin-right: 1vw;
    height: 4vh;
}
#options1 ul li:hover{
    border-bottom: 3px solid #8e1677;
    color: #8e1677;
    cursor: pointer;
}